---
releaseId: "{{ .ReleaseID}}"
releaseArtist: "{{ .ReleaseArtist }}"
releaseTitle: "{{ .ReleaseTitle }}"
releaseYear: "{{ .ReleaseYear }}"
releaseAdded: "{{ .ReleaseAdded }}"
releaseUrl: "{{ .ReleaseURL }}"
---
